#center {
    text-align: center;
}
table,th,td{
    border:1px solid black;
    border-spacing: 0;
}
.blue1 {
    background-color: #4290fc;
}
.blue2 {
    background-color: #6296e5;
}
.blue3 {
    background-color: #86cee5;
}
.purple {
    background-color: #9470dc;
}
.pink {
    background-color: #ee7e72;
}
.green {
    background-color: #5cc838;
}
.orange {
    background-color: #d4a232;
}
.red {
    background-color: #e9280e;
}
.yellow{
    background-color: #f8d61b;
}